* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body,
html {
    height: 100%;
}

.App {
    text-align: center;
    position: relative;
    z-index: 1;
}
/*Styles for header*/
.home-header{
    background-image: url('../images/home-hero.png');
}
header {
    background-size: cover;
    background-position: center;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 2% 9%;
}
.nav {
    font-family: "Montserrat", sans-serif !important;
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    transition: background-color 0.3s ease;
}
.nav.scrolled {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pages {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
    padding-right: 8%;
}

.pages li {
    padding: 1%;
    list-style: none;
    margin: 0 15px;
}

.nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}
.nav a:hover {
    text-decoration: underline;
}
h1,
.h1 {
    font-size: 30px !important;
    font-weight: 700;
    padding-left: 8%;
}
.nav.scrolled a {
    color: black;
}
h2,
h3{
    width: 48%;
}
p{
    width: 65%;
}
h2,
h3,
p {
    text-align: left;
    padding: 1%;
}
/*Styles for Home Page*/
.text {
    padding: 10% 0;
}

h2 {
    font-size: 60px;
    font-weight: 700;
}

p {
    font-size: 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 6%;
}

.info div {
    min-width: 40%;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

.reason {
    margin-left: 40%;
}

.info h3 {
    margin-left: 15%;
}

.info h3:first-of-type {
    margin-left: 25%;
}

.info h3:last-of-type {
    margin-left: 0;
}

.home-main a {
    color: #E84F33;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 1%;
}

.home-main a:hover {
    text-decoration: underline;
}

.info div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -17%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.info div:last-child p {
    text-align: center;
    font-style: italic;
    padding: 1.5%;
}

.info div:last-of-type img {
    width: 80%;
}

.refering .city {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}

.refering h3 {
    font-size: 36px;
    margin-left: 6%;
}

.city div {
    display: block;
    padding: 2%;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.city h4 {
    font-size: 24px;
    font-weight: 500;
    max-width: 50%;
}

.action {
    z-index: 2;
    text-align: left;
    margin-bottom: -7%;
    padding: 2% 6%;
    max-width: 86%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}
.action h2{
    width: 70%;
}
.action:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/*Styles for footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10%;
    background-color: #F6C59D;
    position: relative;
    z-index: 1;
}

footer a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
}

footer ul {
    padding: 2%;
    list-style: none;
}

footer div {
    display: flex;
    align-items: left;
    text-align: left;
    padding: 2%;
    width: 100%;
    margin-bottom: 1%;
}

footer div:nth-child(1) ul {
    display: flex;
    flex-wrap: wrap;
}

footer div:nth-child(1) p {
    font-size: 16px;
    font-weight: 400;
}

footer div:nth-child(1) p:last-of-type {
    font-weight: 600;
    min-width: 300px;
}

footer div:nth-child(2) div {
    display: flex;
    flex-direction: column;
}

footer div:nth-child(2) p:last-child {
    font-weight: 600;
}

footer div:nth-child(3) {
    display: flex;
    align-items: center;
}

footer h4 {
    font-weight: 600;
    text-transform: uppercase;
    padding: 2%;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: left;
    gap: 15px;
    padding-top: 10px;
}

.social-media a {
    font-size: 24px;
    color: black;
}

.social-media a:hover {
    color: #555;
}
.ampli-logo{
    max-width: 200px;
}