* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body,
html {
    height: 100%;
}

.App {
    text-align: center;
}

header {
    background-image: url('./home-hero.png');
    background-size: cover;
    background-position: center;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 2% 9%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.h1, h1 {
    font-size: 48px;
    font-weight: 600;
}

.pages {
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
}

.pages li {
    list-style: none;
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}


.text{
    padding: 10% 0;
}

h2{
    font-size: 60px;
    font-weight: 700;
}

p{
    font-size: 16px;
}

h2,p{
    width: 50%;
    text-align: left;
    padding: 1%;
}